body{
    background-color: purple;
}

.principal{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.contenidoForm{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    background-color: whitesmoke;
}

.derecha{
    background-color: aquamarine;
}