<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/miGrilla.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container__fluid">
        <div class="row">
            <div class="col md-12 lg-12 xl-12 xxl-12 futura_navbar"></div>
        </div>
    <div>
        {{autor.first_name}} {{autor.last_name}}
        <br>
        {{autor.id}}
        <br>
        {{autor.notas}}
        <br>
        <h1>libros del autor</h1>
        {%for libros in autor.books.all %}
            {{libros.title}}
            <br>
        {%endfor%}
    </div>

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <select name="opcion" id="">
                {%for libros in libro %}
                    <option value="{{libros.id}}">{{libros.title}}</option>
                {%endfor%}
            </select>
            <button type="submit">enviar</button>
        </form>
    </div>

    <div class="container__fluid">
        <div class="row">
            <div class="col md-12 lg-12 xl-12 xxl-12 futuro_footer">
                <ul>
                    <li><p class="footer"><a href="/" class="footer">Book´s</a></p></li>
                    <li><p class="footer"><a href="/authors" class="footer">Author´s</a></p></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>